<%# render _hero-section.html.erb  %>
<%= render "hero-section" %>
<%# render _shearch.html.erb %>
<%= render "search" %>
<div class="cars-grid">
    <% @cars.each do |car| %>
         <div class="car">
            <% if car.photos.attached? %>
            <%= cl_image_tag car.photos.first.key, class: "car-img" %>
            <% else %>
                <%= image_tag "car-img.jpg", class: "car-img" %>
            <% end %>
            <div class="car-infos">
                <div>
                    <h5><%= car.make %> <%= car.model %> <span class="transmission"><%= car.transmission %></span></h5>
                    <%= link_to "Details", car_path(car), class: "btn btn-outline-primary" %>
                    <%# <button type="button" class="btn btn-outline-primary">Details</button> %>
                </div>
                <h5 class="card-pricing">$<%= car.price %>/Day</h5>
            </div>
          </div>
    <% end %>
</div>
