<div class="p-5">
  <h1> <%= @user.first_name %>'s profile</h1>

  <p> <%= link_to 'List a car', new_car_path, class:"btn hero-cta my-3" %> </p>
  <br>
  <h3 class="row justify-content-center">Your car(s) ready to rent 🚗 </h3>
  <div class="cars-grid">
    <p> <% @cars.each do |car| %>
          <div class="car">
                <%# image_tag from car-img.jpg %>
                <%= image_tag "car-img.jpg", class: "car-img" %>
                <div class="car-infos">
                        <h5><%= car.make %> <%= car.model %> <span class="transmission"><%= car.transmission %></span></h5>
                        <%= link_to "Details", car_path(car), class: "btn btn-outline-primary" %>
                        <%# <button type="button" class="btn btn-outline-primary">Details</button> %>
                </div>
                <h5 class="card-pricing">$<%= car.price %>/Day</h5>
          </div>
        <% end %>
    </p>
  </div>
  <br>
  <h3 class="row justify-content-center">Your booking(s) 🎫 </h3>
<div class="cars-grid">
  <% if @bookings.present? %>
    <p> <% @bookings.each do |booking| %>
          <div class="car">
            <% car = Car.find(booking.car_id) %>
            <%= image_tag "car-img.jpg", class: "car-img" %>
            <div class="car-infos">
                    <h5><%= car.make %> <%= car.model %> <span class="transmission"><%= car.transmission %></span></h5>
                    <%= link_to "Details", car_path(car), class: "btn btn-outline-primary" %>
                    <%# <button type="button" class="btn btn-outline-primary">Details</button> %>
            </div>
            <h5 class="card-pricing">$<%= booking.total_price %></h5>
          </div>
        <% end %>
  <% else %>
    <em>You don't have any bookings yet! <%= link_to "Book now!", root_path %></em>
    </p>
  <% end %>
</div>
</div>
