
<%# boostrap 5 card %>

<div class="car-container">
  <% if @car.photos.attached? %>
    <% @car.photos.each do |photo| %>
      <%= cl_image_tag photo.key, class: "car-img" %>
    <% end %>
  <% end %>
  <div>
    <h1 class="car-title"><%= @car.model %> <%= @car.make %></h1>
    <p>Transmission: <%= @car.transmission %></p>
    <p>Year: <%= @car.year %></p>
    <p>Color: <%= @car.color %></p>
    <p>Price per day: $<%= @car.price %></p>
    <p>Area: <%= @car.area %></p>
  </div>


  <%# Modal %>
  <!-- Button trigger modal -->
  <% if current_user %>
    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Book
    </button>
  <% else %>
   <%= link_to 'Log in to book!', user_session_path %>
  <% end %>
     </div>
    </div>
  </div>

</div>
