
<%# boostrap 5 card %>

<div class="car-container">
  <% if @car.photos.attached? %>
    <% @car.photos.each do |photo| %>
      <%= cl_image_tag photo.key, class: "car-img" %>
    <% end %>
  <% end %>
  <div>
    <h1 class="car-title"><%= @car.model %> <%= @car.make %></h1>
    <p>Transmission: <%= @car.transmission %></p>
    <p>Year: <%= @car.year %></p>
    <p>Color: <%= @car.color %></p>
    <p>Price per day: $<%= @car.price %></p>
    <p>Area: <%= @car.area %></p>
  </div>


  <%# Modal %>
  <!-- Button trigger modal -->
  <% if @car.user == current_user%>
    <div class="row">
      <%= link_to 'Edit',  edit_car_path, class:"hero-cta btn w-50"%>
      <%#= link_to 'Delete',  profile_path, class:"hero-cta btn w-50"%>
      <%# <button data-action="click->delete-button#delete" class="hero-cta btn w-50">Delete</button> %>
      <%= link_to "Delete",
        car_path(@car),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
        class:"hero-cta btn w-50"
      %>
    </div>
  <% elsif current_user %>
    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Book
    </button>
  <% else %>
   <%= link_to 'Log in to book!', user_session_path, class:"hero-cta btn"%>
  <% end %>

<!-- Modal -->
  <div class="modal fade mt-5" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= simple_form_for [@car, @booking] do |f| %>
            <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
            <%# <div class="form-inputs"> %>
              <%= f.input :pickup_date,
              as: :string,
              input_html: { data: { controller: "datepicker" } }
              %>
              <%= f.input :return_date,
              as: :string,
              input_html: { data: { controller: "datepicker" } }
              %>
              <%= f.input :pick_up_address %>
              <%= f.input :drop_off_address %>
          <%# </div> %>
          <% end %>
          <h5>TOAL: </h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-dark">Confirm</button>
        </div>
      </div>
    </div>
  </div>
</div>
